@{
    ViewData["Title"] = "Home Page";
}

<div class="home-container">
    <h1 class="display-4">
        11-A Gaming
    </h1>
    <p>
        Welcome to 11-A Gaming, where you can buy professional gamers as teammates
        to climb the ranks faster in your favorite online games.
    </p>
    <a class="cta-btn" asp-controller="Home" asp-action="PlayerHire">
        Hire a Player
    </a>
</div>
